@tailwind base;
@tailwind components;
@tailwind utilities;

/* shimmer css */
.Shimmer-cards-wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content:"space-evenly"; */
    justify-content: space-around;
    padding: 2rem 5rem;
      flex-wrap: wrap;
  }
  
  .shimmer-card {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 16rem;
    margin: 30px 10px;
    padding: 5px 5px;
    background-color: #ccc;
    animation: breathe 1s infinite alternate; /* Adjust duration as needed */
  }
  
  @keyframes breathe {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1.0); /* Adjust scale factor for desired effect */
    }
  }